<div {{action 'selectFrame' index}}>
  <div class="row">
    <div class="col-md-2">
      <span class="index">
      {{ plus-one index }}
      </span>
    </div>
    <div class="col-md-10" style="white-space:normal">
      <span style="font-size: 175%">
        {{title}}
      </span>
    </div>
  </div>
</div>

